body {
    background-color: #0a0a0a;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.badge {
    font-size: 0.65rem;
    font-weight: 700;
    padding: 4px 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.voc-Sorcerer {
    background-color: #00ffff !important;
    color: #000 !important;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.3);
}

.voc-Druid {
    background-color: #22cc00 !important;
    color: #000 !important;
    box-shadow: 0 0 5px rgba(0, 196, 0, 0.849);
}

.voc-Knight {
    background-color: #ffff00 !important;
    color: #000 !important;
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.3);
}

.voc-Paladin {
    background-color: #ff3c3c !important;
    color: #fff !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}

.voc-Monk {
    background-color: #9d33ff !important;
    color: #fff !important;
    box-shadow: 0 0 5px rgba(174, 0, 255, 0.3);
}

.voc-Todas {
    background-color: #555 !important;
    color: #fff !important;
}

.cat-icon-img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.cat-card span {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.cat-card {
    background: #111;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
    height: 100%;
}

.cat-card:hover {
    background: #1a1a1a;
    border-color: #ffaa00;
    color: #ffaa00 !important;
    transform: translateY(-3px);
}


.item-card {
    background: #121212;
    border: 1px solid #252525;
    border-radius: 8px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 220px;
    width: 100%;
    z-index: 5;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.item-container {
    position: relative;
    height: 220px;
    margin-bottom: 20px;
    z-index: 1;
}

.item-container:hover {
    z-index: 999;
}

.item-container:hover .item-card {
    border-color: #ffaa00;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9);
    transform: scale(1.03);
    background: #181818;
}

.img-slot {
    background: #000;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid #1a1a1a;
}

.item-img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.item-name {
    font-weight: bold;
    color: #ffaa00;
    font-size: 1.1rem;
    margin-bottom: 4px;
    text-align: center;
}

.lvl-req {
    font-size: 0.75rem;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: bold;
}


.desc-box {
    max-height: 0;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.item-container:hover .desc-box {
    max-height: 500px;
    opacity: 1;
    margin-top: 15px;
    padding: 10px;
}

.attr-row {
    border-bottom: 1px solid #222;
    padding: 5px 0;
    font-size: 0.85rem;
    color: #ccc;
    display: block;
}

.attr-row:last-child {
    border-bottom: none;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    border: none;
    background-color: #ffaa00;
    color: black;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#backToTop:hover {
    background-color: #fff;
    transform: scale(1.1);
}

.form-control::placeholder {
    color: #555 !important;
    font-size: 0.95rem;
}

.form-label, label {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

select.form-select-sm {
    cursor: pointer !important;
    appearance: none !important;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffaa00' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 0.75rem center !important;
    background-size: 12px 10px !important;
    padding-right: 2rem !important;
}

select.form-select-sm:focus{
    background-color: #ffaa00;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-select-sm:focus, 
.form-control-sm:focus {
    border-color: #ffaa00 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 170, 0, 0.25) !important;
    outline: none !important;
    background-color: #121212 !important;
    color: #fff !important;
}

.form-select-sm:hover, 
.form-control-sm:hover {
    border-color: #ffaa00 !important;
}

.form-select option {
    background-color: #121212 !important;
    color: #fff !important;
}